# Python cache
__pycache__/
*.pyc

# Models entrenats (evita l'error 408)
*.joblib
*.pkl
*.h5

# Dades
*.csv
*.xlsx
*.zip

# Logs generats pel teu script
output.txt
*.log

# Entorns virtuals i IDEs
env/
venv/
.vscode/
.idea/